body {
    background-color: rgb(39, 36, 34);
    color:darkkhaki;
}

#clock {
    text-align: center;
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#clock h2 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

.clock-container {
    display: flex;
    align-items: center;
    justify-content: normal;
    align-content: center;
    flex-direction: row;
}

.clock-items {
    font-family: 'Changa', sans-serif;
    font-size: 50px;
    background-color:darkkhaki ;
    color: rgb(39, 36, 34);
    width: 33%;
    border-radius: 12px;
    margin-right: 3%;
}

#date {
    font-family: 'Merriweather', serif;
    font-size: 40px;
}